@font-face {
  font-family: 'Overpass';
  src: url('../assets/fonts/overpass.woff2') format('woff2'), url('../assets/fonts/overpass.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
}
