@import '../../styles/colors';

.card {
  width: 412px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark-blue;
  border-radius: 30px;
  // padding-top: 45px;
  // padding-left: 35px;
  // padding-right: 43px;
  margin-top: 195px;
  margin-bottom: 40px;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 32px;
  padding-right: 8px;
}

.rating {
  width: 192px;
  height: 32px;
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.4px;
  border-radius: 20px;
  background-color: $medium-grey;
  color: $orange;
}

.title {
  color: $white;
  font-size: 28px;
  letter-spacing: 0.3px;
  margin-bottom: 11px;
}

.subtitle {
  width: 100%;
  font-size: 16px;
  color: $light-grey;
  letter-spacing: -0.4px;
  padding: 0px 34px;
  margin-bottom: 4px;
}

.text {
  width: 340px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 23px;
  font-size: 15px;
  color: $light-grey;
  margin-bottom: 48px;
}
