@import './styles/fonts';
@import './styles/colors';

* {
  box-sizing: border-box;
}

body,
ul,
li,
h1,
h2,
p,
span,
button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

body {
  margin: 0;
  background-color: $very-dark-blue;
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
